################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/ExemplesBDD/ManipulationBDDCore/bin/Debug/netcoreapp3.1
